{% extends 'base.html' %}

{% load bootstrap_tags static %}


{% block content %}
<!-- Hero image -->
<section id="hero-image">
	<div class="topHeroWrap"><img src="/static/img/master-img.jpg" class="img-fluid mx-auto topHero"
			alt="Responsive image"></div>
</section>
<!-- / Hero image -->

<div class="container main-wrapper-index">
	<!-- Login Header -->
	<section id="generic-header">
		<div class="container p-0">
			<div class="row w-100 justify-content-left no-gutters content-div mb-3 mt-5 d-flex">
				<div class="col">
					<h1 class="section-title">Sales</h1>
				</div>
				<div class="col carousel-control headerRightElement clearfix">
					<i class="align-center FyMed arrow fa fa-chevron-left prev mr-1"></i>
					<i class="align-center FyMed arrow fa fa-chevron-right next"></i>
				</div>
			</div>
		</div>
	</section>
</div>
<!-- / Login Header -->

<!-- Sales Carousel -->
<section id="sales-carousel">
	<div class="container-fluid main-wrapper-index">
		<div class="responsive slider salesSlider clearfix" data-slick="{'slidesToShow': 4, 'slidesToScroll': 4}">
			{% for item in products %}
			<div class="sliderItem ml-1 media position-relative">
				<img src="{{ MEDIA_URL }}{{ item.image_main }}" class="slider-image"
					alt="{{ product.make }} | {{ product.model }}">
				<a href="{% url 'products:all_products' %}" class="stretched-link"></a>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
<br><br><br>
<!-- / Sales Carousel -->

<!-- Highlight & Blogs -->
<div class="container-fluid">
	<div class="row no-gutters justify-content-center">
		<div class="col-sm-12 col-md-10 col-lg-8">
			<section id="highlights">
				<div class="row w-100 no-gutters content-div mb-3 d-flex">
					{% with highlights|first as highlight %}
					<div class="col-md-6 mb-3">
						<h1 class="section-title">Highlight</h1>
						<div class="blockquote text-muted pr-2 highlight-teaser">
							<p class="mb-0 pt-3"><strong>{{ highlight.make }} | {{ highlight.model }}</strong>
								-&nbsp;Lorem
								ipsum dolor sit amet,
								consectetur
								adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
								aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
								nisi ut aliquip...</p>
							<div class="blockquote-footer">Highlight of the month {% now 'F' %}</div>
						</div>

						<a class="btn btn-warning" href="{% url 'highlight:get_highlight' %}">Read more</a>
					</div>
					<div class="col-md-6 pl-4">
						<img class="img-fluid img-responsive d-block highlight-image pb-0"
							src="{{ MEDIA_URL }}{{ highlight.image_main }}">
					</div>
					{% endwith %}
				</div>
			</section>
			<section id="blogs">
				<div class="row w-100 justify-content-right no-gutters content-div mt-5 mb-5 d-flex clearfix">
					<div class="col-md-6 mb-4">
						<img class="img-fluid d-block img-responsive blogs-image"
							src="{% static 'img/index/1938_talbot_1.jpg' %}">
					</div>
					<div class="col-md-6 pl-4">
						<h1 class="section-title">Blogs</h1>
						<div class="blockquote text-muted blogs-teaser">
							<p class="mb-0"><strong>Contributor posts</strong> -&nbsp;Lorem ipsum dolor sit amet,
								consectetur
								adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
								aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
								nisi ut aliquip.</p>
							<div class="blockquote-footer">Someone famous in My memories</div>
						</div>
						<a class="btn btn-warning" href="{% url 'posts:get_posts' %}">Read more</a>
					</div>
				</div>
			</section>
			<!-- Highlight & Blogs -->

			<!-- About -->
			<section id="about">
				<div class="row w-100 justify-content-left no-gutters content-div mb-3 mt-5 d-flex">

					<h1 class="section-title">About</h1>

				</div>
				<div class="row">
					<div class="col mb-5">
						<div class="article">
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat voluptas harum dolorem
								sit mollitia vero ducimus atque iste nisi ab, maiores nemo laboriosam impedit
								dignissimos, amet error provident eligendi cupiditate? Lorem ipsum dolor sit amet
								consectetur adipisicing elit. Voluptatem quisquam ut recusandae nulla provident tenetur
								saepe ratione magni maiores. Voluptatum neque quia enim nihil qui aut illum omnis quam
								recusandae!</p>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quidem sit et corrupti
								temporibus ad a? Voluptates, blanditiis repudiandae non ut totam voluptate esse id
								beatae nulla incidunt enim corporis.</p>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio asperiores, harum vel
								saepe nesciunt dicta, facere error tenetur officiis fugiat quod, odit nulla voluptatibus
								sit? Quas ea quae molestias voluptatibus. Lorem ipsum, dolor sit amet consectetur
								adipisicing elit. Obcaecati molestias illo veniam! Error similique eum modi, officiis
								nihil voluptates eius deleniti reprehenderit rem earum beatae labore, quos
								exercitationem voluptas eligendi.</p>
							<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis temporibus numquam saepe
								maxime molestiae mollitia, enim ipsum? Fuga veritatis a, saepe atque eius iste quibusdam
								voluptate omnis non! Expedita, nostrum! Lorem ipsum dolor sit, amet consectetur
								adipisicing elit. Eveniet ut molestiae deserunt consequuntur eius nam obcaecati
								consectetur, beatae dolor nesciunt ea culpa accusamus ipsa, iusto ab autem fuga.
								Corporis, quis.</p>
						</div>
					</div>
				</div>
			</section>
			<hr>
			<section id="contributors">
				<div class="mt-5 py-5 text-center">
					<div class="row">
						<div class="mx-auto col-md-12">
							<h1 class="mb-3 section-title">Contributors</h1>
						</div>
					</div>
					<div class="row d-flex justify-content-center">
						<div class="col-lg-3 col-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle employee-image"
								src="{% static 'img/employees/profile1.png' %}" 
								alt="CEO profile image">
							<h4> <b>B. W. Smith</b> </h4>
							<p class="mb-0">CEO | Sales</p>
						</div>
						<div class="col-lg-3 col-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle employee-image"
								src="{% static 'img/employees/profile3.jpg' %}"
								alt="Co-founder profile image">
							<h4> <b>J. G. Wolf</b> </h4>
							<p class="mb-0">Co-founder | Contributor</p>
						</div>
						<div class="col-lg-3 col-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle employee-image"
								src="{% static 'img/employees/profile2.jpg' %}"
								alt="Expert profile image">
							<h4> <b>A. Gang</b> </h4>
							<p class="mb-0">Expert | Contributor</p>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
<!-- / About -->


{% endblock %}