{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="col-sm-12 col-md-8 col-lg-6">
        <div class="container">
            <h3 class="lato">Reset Password</h3>
        
            <form method="post" class="registerForm">
                <p class="strong">Please specify your email address for further instructions.</p>
                <br>
                <div style="display:none">
                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                </div>
                 {{ form.email.errors }}
                <p>{{ form | crispy }} <input type="submit" class="btn btn-lg btn-dark btn-default" value="Reset password"/></p>
            </form>
        </div>
    </div>
{% endblock %}