{% extends 'base.html' %}

{% load static %}
{% load bootstrap_tags %}

{% block content %}
<!-- Blog posts Header -->
<div class="container main-wrapper-index">
	<section id="products-header">
		<div class="row w-100 justify-content-left no-gutters content-div mb-3 mt-5 d-flex">
			<div class="col-4">
				<h2 class="section-title">Blogs</h2>
			</div>
			<div class="col-8 headerRightElement backHome FyNorm clearfix">
				<a href="{% url 'index' %}" class="btn btn-link back-button text-dark" data-tooltip="tooltip"
					data-placement="bottom" title="Take me back Home" data-delay="50"><i
						class="align-center home-arrow fa fa-chevron-left"></i> Back Home</a>
			</div>
		</div>
	</section>
</div>
<!-- /Blog posts Header -->

<!-- Blogs card field-->
<div class="container px-0">
	<div class="grid-container">
		{% for post in posts%}
		<div class="card blog-card bg-warning">
			{% if post.image %}
			<img class="card-img-top" src="{{ MEDIA_URL }}{{ post.image }}" alt="{{ post.title }} | title image">
			{% endif %}
			<div class="card-body pt-2">
				<h5 class="card-title lato">{{ post.title }}</h5>
				<p class="my-0"><strong class="lato mt-auto">{{ post.author }}</strong>
					{% if post.author.profiles.contributor == True %}<small> | (Guest contributor)</small>{% endif %}
				</p>
				<p class="article-published m-0"><i class="fa fa-clock pr-2 text-secondary"></i><small
						class="thin">{{ post.published_date }}</small>
				</p>
				<p class="card-text pt-2">{{ post.content | truncatewords:50 }}</p>
				<a class="toBlog lato text-dark read-more" href="{% url 'posts:post_detail' pk=post.pk %}">Read
					more...</a>
			</div>
			<div class="card-footer d-flex align-items-end">
				<small class="text-muted">Comments {{ post.comments.count }}</small>
			</div>
		</div>
		{% empty %}
		<div class="container">
			<div class="row no-gutters justify-content-center">
				<div class="col-12 text-center">
					<div class="jumbotron jumbotron-fluid">
						<div class="container">
							<h3 class="display-4 mb-3 thin">No blogs to see, sorry.</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="row justify-content-center no-gutters">
		<div class="pagination col-xs-12 my-4">
			<span class="step-links pagin-text lato">
				{% if posts.has_previous %}
				<a href="?page=1" class="pagin-anchor">&laquo; first</a>
				<span>|</span>
				<a href="?page={{ posts.previous_page_number }}" class="pagin-anchor">previous</a>
				{% endif %}

				<span class="current">
					Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
				</span>

				{% if posts.has_next %}
				<a href="?page={{ posts.next_page_number }}" class="pagin-anchor">next</a>
				<span>|</span>
				<a href="?page={{ posts.paginator.num_pages }}" class="pagin-anchor">last &raquo;</a>
				{% endif %}
			</span>
		</div>
	</div>
</div>

<!-- / Blogs card field-->
{% endblock %}