{% extends "base.html" %}

{% load static %}
{% load bootstrap_tags %}
{% load crispy_forms_tags %}


{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
	//<![CDATA[
	Stripe.publishableKey = '{{ publishable }}';
	//]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container-md main-wrapper-index">
	<div class="row row-flex">
		<div class="col-xs-12 col-sm-7">
			<form class="mb-5" role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
				{% csrf_token %}
				<legend>Payment Details</legend>

				<div id="credit-card-errors" style="display: none;">
					<div class="alert-message block-message error" id="stripe-error-message"></div>
				</div>

				<div class="form-group">
					{{ order_form | crispy }}
				</div>

				<div class="form-group">
					{{ payment_form | crispy }}
				</div>

				<div class="form-group mt-5">
					<input class=" btn btn-dark btn-sm" id="submit_payment_btn" name="commit" type="submit"
						value="Submit Payment">
				</div>
			</form>
		</div>
		<div class="d-none d-sm-block col-sm-5">
			<h4 class="pt-1">Cart</h4>
			<div class="row mt-4 justify-content-center">
				<div class="col-xs-12 col-lg-10 m-0 p-0 position-absolute pb-5" id="item-column">
					<div class="row mt-2 no-gutters">
						{% for item in cart_items %}
						<div class="col-12 my-2">
							<div class="card sales-card mx-xs-4">
								<div class="checkout-product"
									style="background-image: url('{{ MEDIA_URL }}{{ item.product.image_main }}')">
								</div>
								<!-- <div class="pl-3"> -->
								<div class="card-body">
									<h5>{{ item.product.make }} | {{ item.product.model }}</h5>
									<div class="col-12 d-flex px-0">
										<span class="lato scale mr-2"><strong>Mfr. </strong></span>
										<span class="lato scale mr-2">{{ item.product.manufacturer }}</span>
									</div>
									<div class="col-12 d-flex px-0">
										<span class="lato scale mr-2"><strong>Year: </strong></span>
										<span class="lato scale mr-2">{{ item.product.build_year }}</span>
									</div>
									<div class="col-12 d-flex px-0">
										<span class="lato scale mr-2"><strong>Color: </strong></span>
										<span class="lato scale mr-2">{{ item.product.color }}</span>
									</div>
									<div class="col-12 d-flex px-0">
										<span class="lato scale mr-2"><strong>Scale: </strong></span>
										<span class="lato scale mr-2">{{ item.product.scale }}</span>
									</div>
									<div class="col-12 d-flex px-0">
										<span class="lato scale mr-2"><strong>Price: </strong></span>
										<span class="lato scale mr-2"><i
												class="fa fa-euro"></i>{{ item.product.price | floatformat:2 }}</span>
									</div>
								</div>
								<div class="card-footer p-2">
									<span class="lato mr-2"><strong>Total</strong></span>
									<i class="fa fa-euro"></i><strong class="lato price">
										&nbsp{{ item.total | floatformat:2 }}</strong>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row my-5">
		<div class="col d-flex">
			<div class="my-auto">
				<h5 class="lato price">Grand total &nbsp</h5>
			</div>
			<div class="my-auto pr-3">
				<h5 class="lato price medium"><i class="fa fa-euro"></i>
					&nbsp {{ totals | floatformat:2 }}</h5>
			</div>
		</div>
	</div>
</div>

{% endblock %}